[filesystem "JetBrains s.r.o.|11.0.15|/dev/disk3s5"]
	timestampResolution = 4000 nanoseconds
	minRacyThreshold = 0 nanoseconds

#######################################
# My customisations START
######################################
[user]
	name = karnamsupreeth
	email = karnamsupreeth@gmail.com
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	s = status
	fd = diff --
	p = pull --rebase
	a = add .
	rh = reset HEAD
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	cb = "!f() { \t\t\tgit checkout feature/TCANDROID-$1; \t\t}; f"
	cbn = "!f() {                         git checkout -b feature/TCANDROID-$1;                 }; f"
	lu = log --author=supreeth.karnam
	pu = "!f() { \tgit push origin HEAD:$(git symbolic-ref --short HEAD); \t}; f"
[push]
	default = current
[core]
	excludesfile = /Users/supreethks/.gitignore_global
	ignorecase = false
	editor = code --wait
	autocrlf = input
	pager = delta
	[merge]
	   tool = studio
	conflictstyle = diff3
	[mergetool "studio"]
	   cmd = studio merge $(cd $(dirname $LOCAL) && pwd)/$(basename $LOCAL) $(cd $(dirname $REMOTE) && pwd)/$(basename $REMOTE) $(cd $(dirname $BASE) && pwd)/$(basename $BASE) $(cd $(dirname $MERGED) && pwd)/$(basename $MERGED)
	   trustExitCode = true
	[diff]
	   tool = studio
	colorMoved = default
	[difftool "studio"]
	   cmd = studio diff $(cd $(dirname $LOCAL) && pwd)/$(basename $LOCAL) $(cd $(dirname $REMOTE) && pwd)/$(basename $REMOTE)

	# Goes in your .git/config file
[alias]
  # Temporarily stop tracking a file in git.
  # usage: git unwatch path/to/file
  unwatch = update-index --assume-unchanged

  # Resume tracking a file in git.
  # usage: git watch path/to/file
  watch = update-index --no-assume-unchanged

	#List the files that are unwatched
	lsunwatch = ls-files -v | grep ^[a-z]
#######################################
# My customisations END 
######################################

[color]
	ui = auto
[filesystem "JetBrains s.r.o.|17.0.6|/dev/disk3s5"]
	timestampResolution = 3000 nanoseconds
	minRacyThreshold = 0 nanoseconds
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential]
	helper = osxkeychain
[safe]
	directory = /Users/supreethks/.cache/act/f79fe589734b43ef/hostexecutor
	directory = /Users/supreethks/.cache/act/f79fe589734b43ef/hostexecutor
	directory = /Users/supreethks/.cache/act/6e2be0bcb924d273/hostexecutor
	directory = /Users/supreethks/.cache/act/6e2be0bcb924d273/hostexecutor
	directory = /Users/supreethks/.cache/act/83f466653cee818c/hostexecutor
	directory = /Users/supreethks/.cache/act/83f466653cee818c/hostexecutor
	directory = /Users/supreethks/.cache/act/22a5dee2c564711b/hostexecutor
	directory = /Users/supreethks/.cache/act/22a5dee2c564711b/hostexecutor
	directory = /Users/supreethks/.cache/act/a9db8dc791d055c8/hostexecutor
	directory = /Users/supreethks/.cache/act/a9db8dc791d055c8/hostexecutor
	directory = /Users/supreethks/.cache/act/dab296ec836d45bb/hostexecutor
	directory = /Users/supreethks/.cache/act/dab296ec836d45bb/hostexecutor
	directory = /Users/supreethks/.cache/act/7794ff0a46ec7abb/hostexecutor
	directory = /Users/supreethks/.cache/act/7794ff0a46ec7abb/hostexecutor
	directory = /Users/supreethks/.cache/act/20a87b244ec49833/hostexecutor
	directory = /Users/supreethks/.cache/act/20a87b244ec49833/hostexecutor
	directory = /Users/supreethks/.cache/act/38afe622338485d7/hostexecutor
	directory = /Users/supreethks/.cache/act/38afe622338485d7/hostexecutor
	directory = /Users/supreethks/.cache/act/0d3993faaa38ec5d/hostexecutor
	directory = /Users/supreethks/.cache/act/0d3993faaa38ec5d/hostexecutor
	directory = /Users/supreethks/.cache/act/cb2a8e640204bad6/hostexecutor
	directory = /Users/supreethks/.cache/act/cb2a8e640204bad6/hostexecutor
	directory = /Users/supreethks/.cache/act/341feca330ee989f/hostexecutor
	directory = /Users/supreethks/.cache/act/341feca330ee989f/hostexecutor
	directory = /Users/supreethks/.cache/act/5fe9d0b920ae5e7a/hostexecutor
	directory = /Users/supreethks/.cache/act/5fe9d0b920ae5e7a/hostexecutor
	directory = /Users/supreethks/.cache/act/a469058353efc0b6/hostexecutor
	directory = /Users/supreethks/.cache/act/a469058353efc0b6/hostexecutor
	directory = /Users/supreethks/.cache/act/eca444d51e98c43b/hostexecutor
	directory = /Users/supreethks/.cache/act/eca444d51e98c43b/hostexecutor
	directory = /Users/supreethks/.cache/act/3bacfd2854d77d86/hostexecutor
	directory = /Users/supreethks/.cache/act/3bacfd2854d77d86/hostexecutor
	directory = /Users/supreethks/.cache/act/5727a94beef5bcd0/hostexecutor
	directory = /Users/supreethks/.cache/act/5727a94beef5bcd0/hostexecutor
	directory = /Users/supreethks/.cache/act/4cf510d1c9353040/hostexecutor
	directory = /Users/supreethks/.cache/act/4cf510d1c9353040/hostexecutor
	directory = /Users/supreethks/.cache/act/fe572fdc2ce6ffa3/hostexecutor
	directory = /Users/supreethks/.cache/act/fe572fdc2ce6ffa3/hostexecutor
	directory = /Users/supreethks/.cache/act/197b88121e60e10a/hostexecutor
	directory = /Users/supreethks/.cache/act/197b88121e60e10a/hostexecutor
	directory = /Users/supreethks/.cache/act/4e14dc27033ad24b/hostexecutor
	directory = /Users/supreethks/.cache/act/4e14dc27033ad24b/hostexecutor
	directory = /Users/supreethks/.cache/act/1e5cb14a387ccbc5/hostexecutor
	directory = /Users/supreethks/.cache/act/1e5cb14a387ccbc5/hostexecutor
	directory = /Users/supreethks/.cache/act/e3d7c7aa7196b52c/hostexecutor
	directory = /Users/supreethks/.cache/act/e3d7c7aa7196b52c/hostexecutor
	directory = /Users/supreethks/.cache/act/5eea2000020c30a3/hostexecutor
	directory = /Users/supreethks/.cache/act/5eea2000020c30a3/hostexecutor
	directory = /Users/supreethks/.cache/act/9890e0a2d645d4cf/hostexecutor
	directory = /Users/supreethks/.cache/act/9890e0a2d645d4cf/hostexecutor
	directory = /Users/supreethks/.cache/act/92fb536f5e3ed9e3/hostexecutor
	directory = /Users/supreethks/.cache/act/92fb536f5e3ed9e3/hostexecutor
	directory = /Users/supreethks/.cache/act/90ffa1e404db43d1/hostexecutor
	directory = /Users/supreethks/.cache/act/90ffa1e404db43d1/hostexecutor
	directory = /Users/supreethks/.cache/act/f591b128c2200531/hostexecutor
	directory = /Users/supreethks/.cache/act/f591b128c2200531/hostexecutor
	directory = /Users/supreethks/.cache/act/5a9f1f1fe2d5e94a/hostexecutor
	directory = /Users/supreethks/.cache/act/5a9f1f1fe2d5e94a/hostexecutor
	directory = /Users/supreethks/.cache/act/40f6b527b91f8340/hostexecutor
	directory = /Users/supreethks/.cache/act/40f6b527b91f8340/hostexecutor
	directory = /Users/supreethks/.cache/act/e1568a86d8558a28/hostexecutor
	directory = /Users/supreethks/.cache/act/e1568a86d8558a28/hostexecutor
	directory = /Users/supreethks/.cache/act/6f047b73c5ca3168/hostexecutor
	directory = /Users/supreethks/.cache/act/6f047b73c5ca3168/hostexecutor
	directory = /Users/supreethks/.cache/act/a6cc69a5cd16752d/hostexecutor
	directory = /Users/supreethks/.cache/act/a6cc69a5cd16752d/hostexecutor
	directory = /Users/supreethks/.cache/act/216ace3f8ead1c3d/hostexecutor
	directory = /Users/supreethks/.cache/act/216ace3f8ead1c3d/hostexecutor
	directory = /Users/supreethks/.cache/act/b6230b1bc68937a8/hostexecutor
	directory = /Users/supreethks/.cache/act/b6230b1bc68937a8/hostexecutor
	directory = /Users/supreethks/.cache/act/175d7308c3a6ab00/hostexecutor
	directory = /Users/supreethks/.cache/act/175d7308c3a6ab00/hostexecutor
	directory = /Users/supreethks/.cache/act/dff2ce14c6e7be22/hostexecutor
	directory = /Users/supreethks/.cache/act/dff2ce14c6e7be22/hostexecutor
	directory = /Users/supreethks/.cache/act/f450e4c08e55c8c6/hostexecutor
	directory = /Users/supreethks/.cache/act/f450e4c08e55c8c6/hostexecutor
	directory = /Users/supreethks/.cache/act/97af40b211a18623/hostexecutor
	directory = /Users/supreethks/.cache/act/97af40b211a18623/hostexecutor
	directory = /Users/supreethks/.cache/act/9ef5f02915e67fbb/hostexecutor
	directory = /Users/supreethks/.cache/act/9ef5f02915e67fbb/hostexecutor
	directory = /Users/supreethks/.cache/act/3b64f1e91836d637/hostexecutor
	directory = /Users/supreethks/.cache/act/3b64f1e91836d637/hostexecutor
	directory = /Users/supreethks/.cache/act/2260541afb272eb8/hostexecutor
	directory = /Users/supreethks/.cache/act/2260541afb272eb8/hostexecutor
	directory = /Users/supreethks/.cache/act/825279d61df309ab/hostexecutor
	directory = /Users/supreethks/.cache/act/825279d61df309ab/hostexecutor
	directory = /Users/supreethks/.cache/act/f398c67ca5814a12/hostexecutor
	directory = /Users/supreethks/.cache/act/f398c67ca5814a12/hostexecutor
	directory = /Users/supreethks/.cache/act/bcfe316f864a5a9b/hostexecutor
	directory = /Users/supreethks/.cache/act/bcfe316f864a5a9b/hostexecutor
	directory = /Users/supreethks/.cache/act/04adcfe6b99af0cd/hostexecutor
	directory = /Users/supreethks/.cache/act/04adcfe6b99af0cd/hostexecutor
	directory = /Users/supreethks/.cache/act/daf59962610aead2/hostexecutor
	directory = /Users/supreethks/.cache/act/daf59962610aead2/hostexecutor
	directory = /Users/supreethks/.cache/act/37794bacade3a8c5/hostexecutor
	directory = /Users/supreethks/.cache/act/37794bacade3a8c5/hostexecutor
	directory = /Users/supreethks/.cache/act/238c35604bef88c1/hostexecutor
	directory = /Users/supreethks/.cache/act/238c35604bef88c1/hostexecutor
	directory = /Users/supreethks/.cache/act/54a19ccbd98360d8/hostexecutor
	directory = /Users/supreethks/.cache/act/54a19ccbd98360d8/hostexecutor
	directory = /Users/supreethks/.cache/act/3986a2890f7fe017/hostexecutor
	directory = /Users/supreethks/.cache/act/3986a2890f7fe017/hostexecutor
	directory = /Users/supreethks/.cache/act/cc723a82255c095c/hostexecutor
	directory = /Users/supreethks/.cache/act/a451168a14df9326/hostexecutor
	directory = /Users/supreethks/.cache/act/a451168a14df9326/hostexecutor
	directory = /Users/supreethks/.cache/act/fb45b1acf1156f81/hostexecutor
	directory = /Users/supreethks/.cache/act/fb45b1acf1156f81/hostexecutor
	directory = /Users/supreethks/.cache/act/97818b3550fb4bdd/hostexecutor
	directory = /Users/supreethks/.cache/act/97818b3550fb4bdd/hostexecutor
	directory = /Users/supreethks/.cache/act/7e43f7d115c8bcaa/hostexecutor
	directory = /Users/supreethks/.cache/act/7e43f7d115c8bcaa/hostexecutor
	directory = /Users/supreethks/.cache/act/90dea9f4e347252f/hostexecutor
	directory = /Users/supreethks/.cache/act/90dea9f4e347252f/hostexecutor
	directory = /Users/supreethks/.cache/act/e7a65cb553dbbf67/hostexecutor
	directory = /Users/supreethks/.cache/act/e7a65cb553dbbf67/hostexecutor
	directory = /Users/supreethks/.cache/act/92ddd7e31bc1afeb/hostexecutor
	directory = /Users/supreethks/.cache/act/92ddd7e31bc1afeb/hostexecutor
	directory = /Users/supreethks/.cache/act/ace642977b07441b/hostexecutor
	directory = /Users/supreethks/.cache/act/ace642977b07441b/hostexecutor
	directory = /Users/supreethks/.cache/act/12e63c2c64e02c71/hostexecutor
	directory = /Users/supreethks/.cache/act/12e63c2c64e02c71/hostexecutor
	directory = /Users/supreethks/.cache/act/df69e0bc320950ee/hostexecutor
	directory = /Users/supreethks/.cache/act/df69e0bc320950ee/hostexecutor
	directory = /Users/supreethks/.cache/act/c748d7b31d69d28e/hostexecutor
	directory = /Users/supreethks/.cache/act/c748d7b31d69d28e/hostexecutor
	directory = /Users/supreethks/.cache/act/79701d6f48ab289f/hostexecutor
	directory = /Users/supreethks/.cache/act/79701d6f48ab289f/hostexecutor
	directory = /Users/supreethks/.cache/act/31688c1133cea61a/hostexecutor
	directory = /Users/supreethks/.cache/act/31688c1133cea61a/hostexecutor
	directory = /Users/supreethks/.cache/act/0a830fdeacb5df3e/hostexecutor
	directory = /Users/supreethks/.cache/act/0a830fdeacb5df3e/hostexecutor
	directory = /Users/supreethks/.cache/act/c5da2da39be24b8c/hostexecutor
	directory = /Users/supreethks/.cache/act/c5da2da39be24b8c/hostexecutor
	directory = /Users/supreethks/.cache/act/a0f5137fabf356b1/hostexecutor
	directory = /Users/supreethks/.cache/act/a0f5137fabf356b1/hostexecutor
	directory = /Users/supreethks/.cache/act/51892551fd64e49e/hostexecutor
	directory = /Users/supreethks/.cache/act/51892551fd64e49e/hostexecutor
	directory = /Users/supreethks/.cache/act/96d04526622d5811/hostexecutor
	directory = /Users/supreethks/.cache/act/96d04526622d5811/hostexecutor
	directory = /Users/supreethks/.cache/act/5f2a878ea8a8c104/hostexecutor
	directory = /Users/supreethks/.cache/act/5f2a878ea8a8c104/hostexecutor
	directory = /Users/supreethks/.cache/act/fbd896bee69832e4/hostexecutor
	directory = /Users/supreethks/.cache/act/fbd896bee69832e4/hostexecutor
	directory = /Users/supreethks/.cache/act/9d863b0b5e5807f1/hostexecutor
	directory = /Users/supreethks/.cache/act/9d863b0b5e5807f1/hostexecutor
	directory = /Users/supreethks/.cache/act/9a2bb6f4738a0ab0/hostexecutor
	directory = /Users/supreethks/.cache/act/9a2bb6f4738a0ab0/hostexecutor
	directory = /Users/supreethks/.cache/act/ad8c0a91e0381661/hostexecutor
	directory = /Users/supreethks/.cache/act/ad8c0a91e0381661/hostexecutor
	directory = /Users/supreethks/.cache/act/c13d738ed9c9554d/hostexecutor
	directory = /Users/supreethks/.cache/act/c13d738ed9c9554d/hostexecutor
	directory = /Users/supreethks/.cache/act/c0637bfda07dc588/hostexecutor
	directory = /Users/supreethks/.cache/act/c0637bfda07dc588/hostexecutor
	directory = /Users/supreethks/.cache/act/b80d13ad5cdf75ea/hostexecutor
	directory = /Users/supreethks/.cache/act/b80d13ad5cdf75ea/hostexecutor
	directory = /Users/supreethks/.cache/act/4747e64b77a27132/hostexecutor
	directory = /Users/supreethks/.cache/act/4747e64b77a27132/hostexecutor
	directory = /Users/supreethks/.cache/act/0916f3c173b3e73b/hostexecutor
	directory = /Users/supreethks/.cache/act/0916f3c173b3e73b/hostexecutor
	directory = /Users/supreethks/.cache/act/f2809753e09e8e9e/hostexecutor
	directory = /Users/supreethks/.cache/act/f2809753e09e8e9e/hostexecutor
	directory = /Users/supreethks/.cache/act/8ef4480c97672efc/hostexecutor
	directory = /Users/supreethks/.cache/act/8ef4480c97672efc/hostexecutor
	directory = /Users/supreethks/.cache/act/caaab7180ac0a453/hostexecutor
	directory = /Users/supreethks/.cache/act/caaab7180ac0a453/hostexecutor
	directory = /Users/supreethks/.cache/act/de6d78e4da2249a0/hostexecutor
	directory = /Users/supreethks/.cache/act/de6d78e4da2249a0/hostexecutor
	directory = /Users/supreethks/.cache/act/1c93a051193f98e2/hostexecutor
	directory = /Users/supreethks/.cache/act/1c93a051193f98e2/hostexecutor
	directory = /Users/supreethks/.cache/act/6dda7fac9b71cf3c/hostexecutor
	directory = /Users/supreethks/.cache/act/6dda7fac9b71cf3c/hostexecutor
	directory = /Users/supreethks/.cache/act/86a9db5f44392262/hostexecutor
	directory = /Users/supreethks/.cache/act/86a9db5f44392262/hostexecutor
	directory = /Users/supreethks/.cache/act/46a92749db915e57/hostexecutor
	directory = /Users/supreethks/.cache/act/46a92749db915e57/hostexecutor
	directory = /Users/supreethks/.cache/act/ac793eee0cd9d22d/hostexecutor
	directory = /Users/supreethks/.cache/act/ac793eee0cd9d22d/hostexecutor
	directory = /Users/supreethks/.cache/act/0fa362b41e93278b/hostexecutor
	directory = /Users/supreethks/.cache/act/0fa362b41e93278b/hostexecutor
	directory = /Users/supreethks/.cache/act/05cdada14193e52e/hostexecutor
	directory = /Users/supreethks/.cache/act/05cdada14193e52e/hostexecutor
	directory = /Users/supreethks/.cache/act/3c5dd60285a5fcef/hostexecutor
	directory = /Users/supreethks/.cache/act/3c5dd60285a5fcef/hostexecutor
	directory = /Users/supreethks/.cache/act/618790d7e39cf709/hostexecutor
	directory = /Users/supreethks/.cache/act/618790d7e39cf709/hostexecutor
	directory = /Users/supreethks/.cache/act/2810098c2f361b12/hostexecutor
	directory = /Users/supreethks/.cache/act/2810098c2f361b12/hostexecutor
	directory = /Users/supreethks/.cache/act/4d85d84cbfd77801/hostexecutor
	directory = /Users/supreethks/.cache/act/4d85d84cbfd77801/hostexecutor
	directory = /Users/supreethks/.cache/act/6b2197a6b6da3798/hostexecutor
	directory = /Users/supreethks/.cache/act/6b2197a6b6da3798/hostexecutor
	directory = /Users/supreethks/.cache/act/9b77cc96530787a8/hostexecutor
	directory = /Users/supreethks/.cache/act/9b77cc96530787a8/hostexecutor
	directory = /Users/supreethks/.cache/act/bad43bfae1799439/hostexecutor
	directory = /Users/supreethks/.cache/act/bad43bfae1799439/hostexecutor
	directory = /Users/supreethks/.cache/act/c7eed1139786e4e5/hostexecutor
	directory = /Users/supreethks/.cache/act/c7eed1139786e4e5/hostexecutor
	directory = /Users/supreethks/.cache/act/917c699cb3b5a6bf/hostexecutor
	directory = /Users/supreethks/.cache/act/917c699cb3b5a6bf/hostexecutor
	directory = /Users/supreethks/.cache/act/a4c9eed77f2efd71/hostexecutor
	directory = /Users/supreethks/.cache/act/a4c9eed77f2efd71/hostexecutor
	directory = /Users/supreethks/.cache/act/30519d4ab66fc904/hostexecutor
	directory = /Users/supreethks/.cache/act/30519d4ab66fc904/hostexecutor
	directory = /Users/supreethks/.cache/act/a0a4a1523c321425/hostexecutor
	directory = /Users/supreethks/.cache/act/a0a4a1523c321425/hostexecutor
	directory = /Users/supreethks/.cache/act/c7486888dae5956e/hostexecutor
	directory = /Users/supreethks/.cache/act/c7486888dae5956e/hostexecutor
	directory = /Users/supreethks/.cache/act/0e25a48ca9c3be94/hostexecutor
	directory = /Users/supreethks/.cache/act/0e25a48ca9c3be94/hostexecutor
	directory = /Users/supreethks/.cache/act/937b7d95736012ad/hostexecutor
	directory = /Users/supreethks/.cache/act/937b7d95736012ad/hostexecutor
	directory = /Users/supreethks/.cache/act/b72b17c254bff073/hostexecutor
	directory = /Users/supreethks/.cache/act/b72b17c254bff073/hostexecutor
	directory = /Users/supreethks/.cache/act/6dadc91cac7413ec/hostexecutor
	directory = /Users/supreethks/.cache/act/6dadc91cac7413ec/hostexecutor
	directory = /Users/supreethks/.cache/act/01bfd8397a68911a/hostexecutor
	directory = /Users/supreethks/.cache/act/01bfd8397a68911a/hostexecutor
	directory = /Users/supreethks/.cache/act/989d79f41697e74e/hostexecutor
	directory = /Users/supreethks/.cache/act/989d79f41697e74e/hostexecutor
	directory = /Users/supreethks/.cache/act/8040d4b510a5aaea/hostexecutor
	directory = /Users/supreethks/.cache/act/8040d4b510a5aaea/hostexecutor
	directory = /Users/supreethks/.cache/act/0e921a14c29c29d8/hostexecutor
	directory = /Users/supreethks/.cache/act/0e921a14c29c29d8/hostexecutor
	directory = /Users/supreethks/.cache/act/bed088321ac0a934/hostexecutor
	directory = /Users/supreethks/.cache/act/bed088321ac0a934/hostexecutor
	directory = /Users/supreethks/.cache/act/33900998f1a76bba/hostexecutor
	directory = /Users/supreethks/.cache/act/33900998f1a76bba/hostexecutor
	directory = /Users/supreethks/.cache/act/0ab8ba1f9bd229ca/hostexecutor
	directory = /Users/supreethks/.cache/act/0ab8ba1f9bd229ca/hostexecutor
	directory = /Users/supreethks/.cache/act/ed517cc955656534/hostexecutor
	directory = /Users/supreethks/.cache/act/ed517cc955656534/hostexecutor
	directory = /Users/supreethks/.cache/act/7d718831d74a7b01/hostexecutor
	directory = /Users/supreethks/.cache/act/7d718831d74a7b01/hostexecutor
	directory = /Users/supreethks/.cache/act/29cee504e01f35eb/hostexecutor
	directory = /Users/supreethks/.cache/act/29cee504e01f35eb/hostexecutor
	directory = /Users/supreethks/.cache/act/70d0d08ae72a3ac1/hostexecutor
	directory = /Users/supreethks/.cache/act/70d0d08ae72a3ac1/hostexecutor
	directory = /Users/supreethks/.cache/act/92333eaae22d9a8b/hostexecutor
	directory = /Users/supreethks/.cache/act/92333eaae22d9a8b/hostexecutor
	directory = /Users/supreethks/.cache/act/7fd6a34c9614b5d7/hostexecutor
	directory = /Users/supreethks/.cache/act/7fd6a34c9614b5d7/hostexecutor
	directory = /Users/supreethks/.cache/act/abd0fc0986d4bbc2/hostexecutor
	directory = /Users/supreethks/.cache/act/abd0fc0986d4bbc2/hostexecutor
	directory = /Users/supreethks/.cache/act/f8bfd3e8c317ba60/hostexecutor
	directory = /Users/supreethks/.cache/act/f8bfd3e8c317ba60/hostexecutor
	directory = /Users/supreethks/.cache/act/443f7de09fdc5635/hostexecutor
	directory = /Users/supreethks/.cache/act/443f7de09fdc5635/hostexecutor
	directory = /Users/supreethks/.cache/act/420ef4aa5f4ffa99/hostexecutor
	directory = /Users/supreethks/.cache/act/420ef4aa5f4ffa99/hostexecutor
	directory = /Users/supreethks/.cache/act/e8fc0c5ae5e083ec/hostexecutor
	directory = /Users/supreethks/.cache/act/e8fc0c5ae5e083ec/hostexecutor
	directory = /Users/supreethks/.cache/act/7978bcda59becc80/hostexecutor
	directory = /Users/supreethks/.cache/act/7978bcda59becc80/hostexecutor
	directory = /Users/supreethks/.cache/act/9e247e7dcc8e2d11/hostexecutor
	directory = /Users/supreethks/.cache/act/9e247e7dcc8e2d11/hostexecutor
	directory = /Users/supreethks/.cache/act/9d6fca4bcad32d9f/hostexecutor
	directory = /Users/supreethks/.cache/act/9d6fca4bcad32d9f/hostexecutor
	directory = /Users/supreethks/.cache/act/beaf7d96c984d335/hostexecutor
	directory = /Users/supreethks/.cache/act/beaf7d96c984d335/hostexecutor
	directory = /Users/supreethks/.cache/act/1d7abbcbc301262a/hostexecutor
	directory = /Users/supreethks/.cache/act/1d7abbcbc301262a/hostexecutor
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
	side-by-side = true
